<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
    <Service name="Catalina">
        <Connector
            port="8080" protocol="org.apache.coyote.http11.Http11Nio2Protocol"
            connectionTimeout="20000" URIEncoding="UTF-8" redirectPort="8443"
            compression="on" compressionMinSize="1024"
            compressibleMimeType="text/html,text/xml,text/javascript,text/css,text/plain,application/json"
            maxThreads="1024" minSpareThreads="128" acceptCount="384" processorCache="1024" maxConnections="10000"
            maxHttpHeaderSize="65536"
            maxPostSize="104857600"
            rejectIllegalHeader="false"
            relaxedPathChars="&#x5B;&#x5D;&#x7C;"
            relaxedQueryChars="&#x5B;&#x5D;&#x7C;&#x7B;&#x7D;&#x5E;&#x5C;&#x60;&#x22;&#x3C;&#x3E;" />
        <Engine name="Catalina" defaultHost="localhost">
            <Host
                name="localhost" appBase="webapps"
                unpackWARs="false" autoDeploy="false">
                <Valve className="org.apache.catalina.valves.RemoteIpValve"
                    remoteIpHeader="X-Forwarded-For" protocolHeader="X-Forwarded-Proto" />
                <Valve className="org.apache.catalina.valves.AccessLogValve"
                    directory="logs" prefix="access" suffix=".log" pattern="combined"
                    maxDays="1" />
                <Context path="" docBase="ROOT" reloadable="false" />
            </Host>
        </Engine>
    </Service>
</Server>
