name: Container Image Build Pipeline
on:
  push:
    branches: [ master ]
    tags:
      - "v*.*.*"
  workflow_dispatch: # Add this section to enable manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [17, 21, 25]
        type: [jdk, jre]
        include:
          - java_version: 17
            type: jdk
            extra_tags: ",${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jdk17-temurin,${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jdk17-temurin-ubuntu"
          - java_version: 17
            type: jre
            extra_tags: ",${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jre17-temurin,${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jre17-temurin-ubuntu"
          - java_version: 25
            type: jdk
            extra_tags: ",${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jdk25-temurin,${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jdk25-temurin-ubuntu"
          - java_version: 25
            type: jre
            extra_tags: ",${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jre25-temurin,${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-jre25-temurin-ubuntu"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Log in to Private Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}
          username: ${{ secrets.ALIBABA_CLOUD_CR_USERNAME }}
          password: ${{ secrets.ALIBABA_CLOUD_CR_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./9
          file: 9/9-jdk${{ matrix.java_version }}/9-jdk${{ matrix.java_version }}-temurin-ubuntu/Dockerfile
          build-args: |
            BASE_IMAGE=tomcat:9-${{ matrix.type }}${{ matrix.java_version }}
          platforms: "linux/amd64,linux/arm64"
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ vars.ALIBABA_CLOUD_CR_HOSTNAME }}/dianplus/tomcat:9-${{ matrix.type }}${{ matrix.java_version }}${{ matrix.extra_tags || '' }}
